# PostgreSQL
POSTGRES_PASSWORD={{POSTGRES_PASSWORD}}

# JWT
JWT_SECRET={{JWT_SECRET}}

# API Keys
ANON_KEY={{ANON_KEY}}
SERVICE_ROLE_KEY={{SERVICE_ROLE_KEY}}

# Ports
POSTGRES_PORT={{POSTGRES_PORT}}
STUDIO_PORT={{STUDIO_PORT}}
KONG_PORT={{KONG_PORT}}
AUTH_PORT={{AUTH_PORT}}
REALTIME_PORT={{REALTIME_PORT}}

# Domain
DOMAIN={{DOMAIN}}
